package ${projectPath}.mapper.${moduleName};

import ${projectPath}.entity.${moduleName}.${entity.className};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;

/**
 * @auther ${author}
 * @create ${createTime}
 * @describe
 */
 @Mapper
 @Repository
public interface ${entity.className}Mapper extends BaseMapper<${entity.className}>{

}